$primary-background-color: #f5f5f5;
$primary-text-color-dark: #3F3F3F;
$primary-reading-text-color: #666666;

body {
  background-color: $primary-background-color;
  font-family: 'Roboto', sans-serif;
}

.reading-text {
  color: $primary-reading-text-color;
  font-size: 18px;
  font-weight: 300;
}

nav {
  font-size: 30px;
  position: fixed;
  width: 100%;
  line-height: 68px;
  height: 68px;
  background-color: transparent;
  color: #fff;
  padding-left: 100px;
  padding-right: 80px;
  transition: all 0.4s ease;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 700;
  .brand-logo {
    font-family: Limelight, Arial, serif; font-weight: 600;
  }
  .dropdown-content {
    li {
      a{
        color: $primary-text-color-dark;
      }
    }
  }
}

nav.sticky {
  background: #37474f ;
  text-align: left;
  background: rgba(25, 25, 25, .7);
  z-index: 1;
}

.header-background {
  background-repeat:no-repeat;
  width: 100%;
  background-size: cover;
}

.main {
  @extend .header-background;
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("../img/dance16.png");
  height: 700px;
  background-position: right bottom;
}

.secondary {
  @extend .header-background;
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("../img/dance6.png");
  height: 500px;
  background-position: top;
}

.landingpage-heading {
  position: absolute;
  color: white;
  top: 200px;
  left: 150px;
  text-align: center;
}

.landingpage-heading.small {
  position: absolute;
  color: white;
  top: 350px;
  left: 250px;
  text-align: center;
}

.down-arrow {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 650px;
  a {
    color: white;
  }
}

.main-heading-secondary {
  display: inline-block;
  width: 100%;
  margin-top: 200px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 700;
}

.container.mid-section {
  text-align: center;
  color: $primary-text-color-dark;
  margin-top: 100px;
  margin-bottom: 100px;
}

.card {
  z-index: 0;
}

.offer-teachers {
  @extend .header-background;
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("../img/dance18.png");
  height: 400px;
  background-position: bottom;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}

.about-mid-section {
  @extend .header-background;
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("../img/dance8.png");
  height: 500px;
  background-position: top;
}

.offer-first {
  margin-top: 100px;
}

.offer-second {
  margin-top: 100px;
  margin-bottom: 100px;
}

.page-footer {
  @extend .header-background;
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("../img/dance10.png");
  background-position: center;
}

.dance-styles {
  padding-top: 100px;
  color: white;
  a {
    color: white;
    font-size: 24px;
    &:hover {
      border-bottom: 1px solid white;
    }
  }
}

.mid-section-link {
  color: $primary-text-color-dark;
  font-size: 24px;
  &:hover {
    border-bottom: 1px solid $primary-text-color-dark;
  }
}

.moving-img {
  width:100%;
  display: block;
}

.footer-social {
  font-size: 18px;
  color: white;
  padding-right: 20px;
}

.footer-border {
  border-bottom: solid 1px rgba(170, 170, 170, 0.2);
}

.register{
  background-color: #f3eaf2;
  margin-bottom:-20px;
  height: 100px;
  .content{
    padding-top: 32px;
    color: #37474f;
    font-size: 18px;
    button {
      font-size: 14px;
    }
  }
}

.price-title {
  border-bottom: 1px solid #cdc4cc;
  .pricing-number {
    font-size: 70px;
    font-weight: bold;
  }
  .pricing-extra {

    padding-top: -44px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
    width: 70px;
    display: inline-block;
    margin: 12px 0px 0px;
  }
}

.mid-price-heading {
  font-size: 18px;
  text-transform: uppercase;
  color: #757074 !important;
  font-weight: bold;
}

.price {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.schedule-grid {
  border: 1px solid $primary-background-color;
  margin: 0px 0;
  text-align: center;
  line-height: 70px;
  font-size: 28px;
  background-color: white;
  color: $primary-text-color-dark;
  padding: 0;
  font-weight: 300;
}

.flat-table {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 115%;
  overflow: auto;
  width: auto;
  border-spacing: 2px;
  border-collapse: separate;
  margin-bottom: 100px;

  th {
    background-color: rgba(38, 166, 154, 0.2);
    color: white;
    font-weight: normal;
    padding: 20px 30px;
    text-align: center;
    border-radius: 0%;
    font-size: 24px;
  }
  td {
    background-color: rgb(238, 238, 238);
    color: rgb(111, 111, 111);
    padding: 20px 30px;
    border-radius: 0%;
    line-height: 70px;
    font-weight: 700;
  }
}

.jazz {
  @extend .header-background;
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  );
  height: 300px;
  background-position: center;
}

.parallax-window {
  min-height: 300px;
  background: transparent;
}

.bcg {
  @extend .header-background;
  background-position: center center;
  background-attachment: fixed;
  height: 300px;
}

.hsContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.hsContent {
  width: 100%;
  position: absolute;
  top: 100px;
  h2 {
    color: #fff8de;
    font-size: 50px;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
  }
}

/* Slide 1 */


#slide-1 .bcg {
  background-image:
  linear-gradient(
              rgba(0, 0, 0, 0.5),
              rgba(0, 0, 0, 0.5)
  ),
  url("../img/jazz.png");
}

#slide-2 .bcg {
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("../img/contemporary.png");
}

#slide-3 .bcg {
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("../img/ballet.png");
}

#slide-4 .bcg {
  background-image:
  linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5)
  ),
  url("../img/dance17.png");
}

.teacher-pic {
  width: 250px;
  height: 100%
}



