$primary-background-color: #f5f5f5;
$primary-text-color-dark: #3A4250;

body {
  background-color: $primary-background-color;
  font-family: 'Roboto', sans-serif;
}

nav {
  font-size: 30px;
  position: fixed;
  width: 100%;
  line-height: 108px;
  height: 108px;
  background-color: transparent;
  color: #fff;
  padding-left: 100px;
  padding-right: 80px;
  font-family: Limelight, Arial, serif; font-weight: 600;
  transition: all 0.4s ease;
  box-shadow: none;
}

nav.sticky {
  font-size: 16px;
  line-height: 58px;
  height: 58px;
  background: #37474f ;
  text-align: left;
  padding-left: 60px;
  padding-right: 60px;
  background: rgba(25, 25, 25, .7);
  z-index: 1;
}

.header-background {
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("img/dance16.png");
  background-repeat:no-repeat;
  height: 700px;
  width: 100%;
  background-position: right bottom;
  background-size: cover;

}

.main-heading {
  position: absolute;
  color: white;
  top: 200px;
  left: 150px;
  text-align: center;
}

.main-heading.small {
  position: absolute;
  color: white;
  top: 350px;
  left: 250px;
  text-align: center;
}

.container.mid-section {
  text-align: center;
  color: $primary-text-color-dark;
  margin-top: 100px;
  margin-bottom: 100px;
}

.offer-teachers {
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("img/dance18.png");
  background-repeat:no-repeat;
  height: 400px;
  background-position: bottom;
  background-size: cover;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  &:hover {
    opacity: 0.6;
  }
}

.offer-first {
  margin-top: 100px;
}

.offer-second {
  margin-top: 100px;
  margin-bottom: 100px;
}

.page-footer {
  background-image:
  linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
  ),
  url("img/dance10.png");
  background-position: center;
  background-size: cover;
}

.dance-styles {
  padding-top: 100px;
  color: white;
}

.dance-styles>a {
  color: white;
  font-size: 24px;
  &:hover {
    border-bottom: 1px solid white;
  }
}

.mid-section-link {
  color: $primary-text-color-dark;
  font-size: 24px;
  &:hover {
    border-bottom: 1px solid $primary-text-color-dark;
  }
}




